1) How-to-count-distance-to-the-previous-zero
For each value, count the difference of the distance from the previous zero (or the start
of the Series, whichever is closer) and if there are no previous zeros,print the position
Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [36]:
#Solution for #1)
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
# ln=len(df)
y = []
counter= 0
for i in df.values:
    if i == 0:
        counter= 0
        y.append(counter)
    else:
        counter +=1 
        y.append(counter)
df['Y']=y
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [62]:
?pd.date_range

In [66]:
?np.random

In [71]:
#Solution for # 2)
import numpy as np
import pandas as pd
dt = pd.date_range(start='01-01-2015', end='31-12-2015', freq='B')
# dt
s = pd.Series(np.random.rand(len(dt)), index=dt)
s

2015-01-01    0.157853
2015-01-02    0.668501
2015-01-05    0.774058
2015-01-06    0.339500
2015-01-07    0.528277
2015-01-08    0.167111
2015-01-09    0.457214
2015-01-12    0.704680
2015-01-13    0.829647
2015-01-14    0.990174
2015-01-15    0.112865
2015-01-16    0.525200
2015-01-19    0.113186
2015-01-20    0.971528
2015-01-21    0.538930
2015-01-22    0.328575
2015-01-23    0.390788
2015-01-26    0.409877
2015-01-27    0.785055
2015-01-28    0.796258
2015-01-29    0.294460
2015-01-30    0.770852
2015-02-02    0.804281
2015-02-03    0.717224
2015-02-04    0.434956
2015-02-05    0.969231
2015-02-06    0.587779
2015-02-09    0.763464
2015-02-10    0.751592
2015-02-11    0.929335
                ...
2015-11-20    0.992152
2015-11-23    0.819140
2015-11-24    0.319043
2015-11-25    0.149743
2015-11-26    0.892312
2015-11-27    0.670717
2015-11-30    0.138600
2015-12-01    0.462913
2015-12-02    0.117493
2015-12-03    0.948332
2015-12-04    0.936002
2015-12-07    0.922356
2015-12-08    0.513214
2015-12-09    0.377600
2015-12-10    0.460837
2015-12-11    0.994856
2015-12-14    0.743716
2015-12-15    0.288226
2015-12-16    0.586637
2015-12-17    0.522040
2015-12-18    0.444165
2015-12-21    0.479064
2015-12-22    0.347771
2015-12-23    0.556077
2015-12-24    0.727022
2015-12-25    0.628883
2015-12-28    0.484322
2015-12-29    0.593342
2015-12-30    0.881033
2015-12-31    0.812541
Freq: B, Length: 261, dtype: float64

In [ ]:
3) Find the sum of the values in s for every Wednesday

In [77]:
?dt.weekday

In [79]:
#Solution for #3
s[dt.weekday == 2].sum()

29.19435584433191

In [ ]:
4) Average For each calendar month

In [82]:
?s.resample

In [85]:
s.resample('M').mean()

2015-01-31    0.529754
2015-02-28    0.617825
2015-03-31    0.482328
2015-04-30    0.499309
2015-05-31    0.516432
2015-06-30    0.554446
2015-07-31    0.527644
2015-08-31    0.589560
2015-09-30    0.481128
2015-10-31    0.511972
2015-11-30    0.523981
2015-12-31    0.601237
Freq: M, dtype: float64

In [ ]:
5) For each group of four consecutive calendar months in s, find the date on which the
highest value occurred.

In [93]:
# ?s.groupby
# ?pd.TimeGrouper
?pd.Grouper

In [94]:
#Solution for #5
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-14
2015-05-31   2015-02-12
2015-09-30   2015-08-10
2016-01-31   2015-10-26
dtype: datetime64[ns]